<link rel="stylesheet" href="~/Content/styleforlogin.css" />
<link rel="stylesheet" href="~/Content/font-awesome.min.css" />
<link rel="stylesheet" href="~/Content/font-awesome.css" />
<div class="container d-flex justify-content-center align-items-center">
    <form action="" class="login">
        <h1><b>登入</b></h1>
        <i class="fa fa-user-circle-o"></i>
        <h2>電子郵件</h2>
        <input type="text" placeholder="請輸入電子郵件">
        <h2>密碼</h2>
        <input type="password" placeholder="請輸入密碼">
        <button type="submit1" onclick='location.href=("註冊頁面.html")'>註冊</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <button type="submit2" onclick='location.href=("")'>登入</button>
    </form>
</div>
