﻿
<style>
    body {
        font-family: Roboto;
        background-color: azure;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    form {
        width: 70%;
        margin: 0;
        padding: 0;
    }

    fieldset {
        border: 1px solid rgb(0, 0, 0);
        padding: 10px;
        margin: 0;
        background-color: rgb(217, 232, 194);
    }

    legend {
        background-color: rgb(41, 91, 93);
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 1.2em;
        width: 40%;
    }

    label {
        width: 100%;
        display: block;
    }

    input {
        width: 450px;
        height: 50px;
        margin-bottom: 10px;
        font-size: 1em;
    }

    .sex {
        width: auto;
        height: 15px;
    }

    h2 {
        margin-top: 5px;
    }

    select {
        width: 20%;
        height: 25px;
        font-size: 1em;
    }
</style>
@{
    string[] options = { "選擇縣市", "基隆市", "台北市", "高雄市", "花蓮縣", "新北市", "桃園市", "新竹市", "苗栗縣", "臺中市", "彰化縣", "南投縣", "雲林縣", "嘉義市", "嘉義縣", "臺南市", "高雄市", "屏東縣", "臺東縣", "宜蘭縣", "澎湖縣", "金門縣", "連江縣" };
}
<body>
    <div class="container d-flex justify-content-center align-items-center">
        <form>
            <div class="mb-3">
                <fieldset>
                    <legend><h2>編輯個人檔案</h2></legend>

                    <label for="memberId">會員編號:</label>
                    <label for="memberId">帳號:</label>
                    <label for="memberId">密碼:</label>
                    <input class="form-control col-lg-8" type="Password" placeholder="Password 密碼" name="txtPassword" minlength="8" maxlength="16" />

                    <label for="memberId">領貨人姓名:</label>
                    <input class="form-control col-lg-8" type="text" placeholder="Username用戶名" name="txtname" />

                    <label for="memberId">性別:</label>
                    <input class="sex" type="radio" name="sex" value="1" checked />&nbsp男&nbsp<input class="sex" type="radio" name="sex" value="0" />&nbsp女

                    <label for="memberId">生日:</label>
                    <input type="date" name="txtbirthday" class="form-control col-lg-8" />

                    <label for="memberId">電話:</label>
                    <input class="form-control col-lg-8" type="text" placeholder="PhoneNumber 電話號碼" id="txtphone" name="txtphone" pattern="[0][9][0-9]{8}" />

                    <label for="memberId">地址</label>
                    <label for="memberId">
                        縣市:
                        <select name="selectOption" id="selectOption">
                            @foreach (var option in options)
                            {
                                <option value="@option">@option</option>
                            }
                        </select>
                    </label>
                    <label for="memberId" id="area" style="display:none">
                        地區:
                        <select name="selectOption2" id="selectOption2">
                            <option value="">選擇地區</option>
                        </select>
                    </label>
                    <input class="form-control col-lg-8" type="text" placeholder="Address 地址" id="txtaddress" name="txtaddress" style="display:none;" />
                    <label for="memberId">電子郵件:</label>
                    <input class="form-control col-lg-8" type="Email" placeholder="Email 地址郵件" id="txtEmail" name="txtEmail" />
                    <button type="submit" class="btn btn-primary" id="btn">提交</button>
                </fieldset>
            </div>
        </form>
    </div>
</body>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>

<script>
    var btn=document.querySelector('#btn');
    var phone=document.querySelector('#txtphone');
    var email=document.querySelector('#txtEmail');
    var pattern=phone.getAttribute('pattern');
    var regex=new RegExp(pattern);
    btn.addEventListener('click',function(){
        var value=phone.value;
        if(regex.test(value)){
            emailcheck(); // 调用 a1() 函数
        }else{
            return;
        }
    })
    function emailcheck() {
        var value = a1.value;
            if (regex.test(value)) {
                var email = document.querySelector('#a2'); // 修正了选择器
                if (email.checkValidity()) { // 使用 checkValidity() 方法验证电子邮件的有效性
                    alert('<big>成功</big>');
                } else {
                    alert('电子邮件格式不正确');
                    event.preventDefault(); // 阻止表单提交
                }
            } else {
                // 如果电话号码格式不正确，你也可以在这里给出相应的提示
                alert('电话号码格式不正确');
                event.preventDefault(); // 阻止表单提交
            }
    }
    $(document).ready(function () {
        // 定義一個物件，將第一個下拉選擇框的值與相關選項關聯起來
        var optionMappings = {
            "選擇縣市": ["選擇地區"],
            "基隆市": ["仁愛區", "信義區", "中正區", "中山區", "安樂區", "暖暖區", "七堵區"],
            "台北市": ["中正區", "大同區", "中山區", "松山區", "大安區", "萬華區", "信義區", "士林區", "北投區", "內湖區", "南港區","文山區"],
            "新北市": ["萬里區", "金山區", "板橋區", "汐止區", "深坑區", "石碇區", "瑞芳區", "平溪區", "雙溪區", "貢寮區", "新店區", "坪林區", "烏來區", "永和區", "中和區", "土城區", "三峽區", "樹林區", "鶯歌區", "三重區", "新莊區", "泰山區", "林口區", "蘆洲區", "五股區", "八里區", "淡水區", "三芝區", "石門區"],
            "桃園市": ["中壢區", "平鎮區", "龍潭區", "楊梅區", "新屋區", "觀音區", "桃園區", "龜山區", "八德區", "大溪區", "復興區", "大園區", "蘆竹區"],
            "新竹市": ["東區", "北區", "香山區"],
            "新竹縣": ["竹北市", "湖口鄉", "新豐鄉", "新埔鎮", "關西鎮", "芎林鄉", "寶山鄉", "竹東鎮", "五峰鄉", "橫山鄉", "尖石鄉", "北埔鄉", "峨眉鄉"],
            "苗栗縣": ["竹南鎮", "頭份市", "三灣鄉", "南庄鄉", "獅潭鄉", "後龍鎮", "通霄鎮", "苑裡鎮", "苗栗市", "造橋鄉", "頭屋鄉", "公館鄉", "大湖鄉", "泰安鄉", "銅鑼鄉", "三義鄉", "西湖鄉", "卓蘭鎮"],
            "臺中市": ["中區", "東區", "南區", "西區", "北區", "北屯區", "西屯區", "南屯區", "太平區", "大里區", "霧峰區", "烏日區", "豐原區", "后里區", "石岡區", "東勢區", "和平區", "新社區", "潭子區", "大雅區", "神岡區", "大肚區", "沙鹿區", "龍井區", "梧棲區", "清水區", "大甲區", "外埔區","大安區"],
            "彰化縣": ["彰化市", "芬園鄉", "花壇鄉", "秀水鄉", "鹿港鎮", "福興鄉", "線西鄉", "和美鎮", "伸港鄉", "員林市", "社頭鄉", "永靖鄉", "埔心鄉", "溪湖鎮", "大村鄉", "埔鹽鄉", "田中鎮", "北斗鎮", "田尾鄉", "埤頭鄉", "溪州鄉", "竹塘鄉", "二林鎮", "大城鄉", "芳苑鄉", "二水鄉"],
            "南投縣": ["南投市", "中寮鄉", "草屯鎮", "國姓鄉", "埔里鎮", "仁愛鄉", "名間鄉", "集集鎮", "水里鄉", "魚池鄉", "信義鄉", "竹山鎮", "鹿谷鄉"],
            "雲林縣": ["斗南鎮", "大埤鄉", "虎尾鎮", "土庫鎮", "褒忠鄉", "東勢鄉", "臺西鄉", "崙背鄉", "麥寮鄉", "斗六市", "林內鄉", "古坑鄉", "莿桐鄉", "西螺鎮", "二崙鄉", "北港鎮", "水林鄉", "口湖鄉", "四湖鄉", "元長鄉"],
            "嘉義市": ["東區", "西區"],
            "嘉義縣": ["番路鄉", "梅山鄉", "竹崎鄉", "阿里山鄉", "中埔鄉", "大埔鄉", "水上鄉", "鹿草鄉", "太保市", "朴子市", "東石鄉", "六腳鄉", "新港鄉", "民雄鄉", "大林鎮", "溪口鄉", "義竹鄉", "布袋鎮"],
            "臺南市": ["東區", "南區", "北區", "安平區", "安南區", "永康區", "歸仁區", "新化區", "左鎮區", "玉井區", "楠西區", "南化區", "仁德區", "關廟區", "龍崎區", "官田區", "麻豆區", "佳里區", "西港區", "七股區", "將軍區", "學甲區", "北門區", "新營區", "後壁區", "白河區", "東山區", "六甲區", "下營區", "柳營區", "鹽水區", "善化區", "大內區", "山上區", "新市區", "安定區"],
            "高雄市": ["新興區", "前金區", "苓雅區", "鹽埕區", "鼓山區", "旗津區", "前鎮區", "三民區", "楠梓區", "小港區", "左營區", "仁武區", "大社區", "東沙群島", "南沙群島", "岡山區", "路竹區", "阿蓮區", "田寮區", "燕巢區", "橋頭區", "梓官區", "彌陀區", "永安區", "湖內區", "鳳山區", "大寮區", "林園區", "鳥松區", "大樹區", "旗山區", "美濃區", "六龜區", "內門區", "杉林區", "甲仙區", "桃源區", "那瑪夏區", "茂林區", "茄萣區"],
            "屏東縣": ["三地門鄉", "霧臺鄉", "瑪家鄉", "九如鄉", "里港鄉", "高樹鄉", "鹽埔鄉", "長治鄉", "麟洛鄉", "竹田鄉", "內埔鄉", "萬丹鄉", "潮州鎮", "泰武鄉", "來義鄉", "萬巒鄉", "崁頂鄉", "新埤鄉", "南州鄉", "林邊鄉", "東港鎮", "琉球鄉", "佳冬鄉", "新園鄉", "枋寮鄉", "枋山鄉", "春日鄉", "獅子鄉", "車城鄉", "牡丹鄉", "恆春鎮", "滿州鄉"],
            "臺東縣": ["臺東市", "綠島鄉", "蘭嶼鄉", "延平鄉", "卑南鄉", "鹿野鄉", "關山鎮", "海端鄉", "池上鄉", "東河鄉", "成功鎮", "長濱鄉", "太麻里鄉", "金峰鄉", "大武鄉", "達仁鄉"],
            "花蓮縣": ["花蓮市", "新城鄉", "秀林鄉", "吉安鄉", "壽豐鄉", "鳳林鎮", "光復鄉", "豐濱鄉", "瑞穗鄉", "萬榮鄉", "玉里鎮", "卓溪鄉", "富里鄉"],
            "宜蘭縣": ["宜蘭市", "頭城鎮", "礁溪鄉", "壯圍鄉", "員山鄉", "羅東鎮", "三星鄉", "大同鄉", "五結鄉", "冬山鄉", "蘇澳鎮", "南澳鄉", "釣魚臺"],
            "澎湖縣": ["馬公市", "西嶼鄉", "望安鄉", "七美鄉", "白沙鄉", "湖西鄉"],
            "金門縣": ["金湖鎮", "金寧鄉", "金城鎮", "烈嶼鄉", "烏坵鄉"],
            "連江縣": ["南竿鄉", "北竿鄉", "莒光鄉", "東引鄉"],
            // 添加其他城市的選項映射
        };

        // 獲取第二個下拉選擇框的元素
        var selectOption2 = $("#selectOption2");
        var area=document.querySelector('#area');
        area.style.display = 'none';
        selectOption2.hide();
        // 當第一個選擇框的值發生變化時
        $("#selectOption").change(function () {
            // 清空第二個選擇框的選項
            selectOption2.empty();

            // 獲取第一個選擇框的值
            var selectedOption = $(this).val();

            // 根據第一個選擇框的值從映射中獲取相關選項
            var relatedOptions = optionMappings[selectedOption];

            //如果有相關選項，則將它們添加到第二個選擇框中
            if (relatedOptions) {
                $.each(relatedOptions, function (index, value) {
                    selectOption2.append($("<option>").text(value).val(value));
                });

                // 显示第二个选择框
                area.style.display = 'block';
                selectOption2.show();
            } else {
                // 否则，隐藏第二个选择框
                area.style.display = 'none';
                selectOption2.hide();
            }
        });
            $('#selectOption2').change(function() {
                var addressInput = $('#txtaddress');
                if ($(this).val() === '') {
                    addressInput.hide();
                } else {
                    addressInput.show();
                }
            });
    });
</script>