<h1>活動管理</h1>

<div class="form-row">
    <div class="form-group col-md-3">
        <input type="text" class="form-control-lg" id="activityName" placeholder="輸入活動名稱">
    </div>
    <div class="form-group col-md-3">
        <button type="button" class="btn btn-info btn-lg btn-block">查詢活動</button>
    </div>
    <div class="form-group col-md-3">
        <a href="~/Home/create" class="btn btn-primary btn-lg btn-block">新增活動</a>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">活動名稱</th>
            <th scope="col">開始日期</th>
            <th scope="col">結束日期</th>
            <th scope="col">簡介</th>
        </tr>
    </thead>

    <tbody>

    </tbody>
</table>