<h2>客服管理</h2>

<div class="form-row">
    <div class="form-group col-md-3">
        <input type="text" class="form-control-lg" id="customerName" placeholder="輸入客服人員姓名">
    </div>
    <div class="form-group col-md-3">
        <button type="button" class="btn btn-info btn-lg btn-block" onclick="searchCustomer()">搜尋客服人員</button>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">客服編號</th>
            <th scope="col">客服姓名</th>
            <th scope="col">聯絡電話</th>
            <th scope="col">郵箱</th>

        </tr>
    </thead>

    <tbody>

    </tbody>
</table>