<form class="h2" method="post" action="~/home/PMS">
    <h1>上架表單</h1>
    <div class="form-group row">
        <label for="productId" class="col-sm-2 col-form-label">商品編號</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="productId">
        </div>
    </div>
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">商品名稱</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name">
        </div>
    </div>
    <div class="form-group row">
        <label for="inventory" class="col-sm-2 col-form-label">庫存量</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inventory">
        </div>
    </div>
    <div class="form-group row">
        <label for="price" class="col-sm-2 col-form-label">定價</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="price">
        </div>
    </div>
    <div class="form-group row">
        <label for="releaseDate" class="col-sm-2 col-form-label">上架日</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="releaseDate">
        </div>
    </div>
    <div class="form-group row">
        <label for="removalDate" class="col-sm-2 col-form-label">下架日</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="removalDate">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">送出</button>
        </div>
    </div>
</form>