<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title MinShop 分分購物</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        .header {
            background-color: #ffffff;
            padding: 20px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        .navbar-brand img {
            max-height: 40px;
            width: auto;
        }

        .form-inline input[type="search"] {
            width: 500px;
        }

        .d-flex {
            background-color: #ffffff;
            margin-top: 20px;
            padding: 20px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        .dropdown-toggle::after {
            display: none;
        }

        .dropdown-menu {
            border: none;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        .dropdown-item {
            color: #343a40;
        }

        .dropdown-divider {
            border-top: 1px solid #e9ecef;
        }

        .footer {
            background-color: #ffffff;
            padding: 20px;
            margin-top: 20px;
            box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
        }

        .content {
            list-style-type: disc;
            padding-left: 20px;
        }

            .content li {
                margin-bottom: 10px;
            }

        .footer a {
            color: #343a40;
        }

            .footer a:hover {
                color: #007bff;
                text-decoration: none;
            }

        .text-muted {
            color: #6c757d;
        }

        img {
            width: 50px;
            height: 50px;
        }
    </style>
</head>
<body>
    <div class="container mx-auto">
        <!-- 頁首 -->
        <header class="header">
            <div class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="~/home/index">
                    <button class="btn btn-link nav-link" type="button">
                        <img src="~/images/Layout/logo01.png" alt="logo">
                    </button>
                </a>
                <form class="form-inline justify-content-center" method="post" action="~/home/Search">
                    <input class="form-control mr-2" type="text" placeholder="尋找商品" aria-label="Search"
                           style="width: 300px;" id="searchInput" name="searchInput">
                    <button class="btn btn-outline-success" type="submit" id="searchButton" onclick="addRecord()">&nbsp搜尋</button>
                </form>
                <ul id="recordList">
                    <!-- 這裡將顯示新增的紀錄 -->
                </ul>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="~/home/ShoppingCar" class="btn btn-link nav-link">
                                <img src="~/images/Layout/icon_cart.png" alt="icon_cart" style="width:50px">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/home/history" class="btn btn-link nav-link">
                                <img src="~/images/Layout/icon_history.png" alt="icon_history" style="width:50px">
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown">
                        <a class="btn btn-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink1"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/images/Layout/icon_user.png" alt="icon_user" style="width:50px">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                            <a class="dropdown-item" href="~/home/Users">我的帳戶</a>
                            <a class="dropdown-item" href="~/home/Logout">登出</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 商品分類 -->
        </header>
        @RenderBody()
        <hr />
        <div class="container body-content">

            <div class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
                <a class="navbar-brand" href="#">合作廠商</a>
                <a class="navbar-brand" href="#">合作廠商</a>
                <a class="navbar-brand" href="#">合作廠商</a>
            </div>
            <div class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
                <h3>一站式時尚體驗</h3>
                <a class="navbar-brand" href="#">分分來購物</a>
                <a class="navbar-brand" href="#">七天退款保證</a>
            </div>
            <!-- 頁尾 -->
            <footer class="footer justify-content-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h5>聯絡我們</h5>
                            <ul class="content">
                                <li><a href="https://maps.app.goo.gl/JUij8VPMv8wCB7Eg8">台北市內湖區環山路一段56號</a></li>
                                <li><a href="mailto:MinShop@gmail.com">MinShop@gmail.com</a></li>
                                <li><a href="#">@@590khrhm</a></li>
                                <li><img src="~/images/Layout/line_bot.png" alt="logo" class="logo-img"></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h5>客戶服務</h5>
                            <ul class="content">
                                <li><a href="#">會員中心</a></li>
                                <li><a href="#">訂單配送進度查詢</a></li>
                                <li><a href="#">常見問題</a></li>
                                <li><a href="#">售後服務</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h5>企業合作</h5>
                            <ul class="content">
                                <li><a href="#">招商專區</a></li>
                                <li><a href="#">媒體聯繫</a></li>
                                <li><a href="#">企業/大型採購</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p class="text-muted">© 2024 MinShop。保留所有權利</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script>
            function addRecord() {
  var input = document.getElementById('searchInput').value;
  if (input.trim() === '') {
    alert('請輸入文字！');
    return;
  }

  var recordList = document.getElementById('recordList');
  var li = document.createElement('li');
  li.className = 'recordItem';

  var textNode = document.createTextNode(input);
  li.appendChild(textNode);

  var deleteButton = document.createElement('button');
  deleteButton.className = 'deleteButton';
  deleteButton.textContent = 'X';
  deleteButton.onclick = function() {
    li.remove();
  };
  li.appendChild(deleteButton);

  recordList.appendChild(li);

  // 清空輸入框

}


    </script>


</body>
</html>